@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
  h1-eng {
    @apply font-mono text-[48px] leading-[48px] font-semibold;
  }
  h1 {
    @apply font-notosansthai text-[48px] leading-[48px] font-semibold;
  }

  h2 {
    @apply font-notosansthai text-[30px] leading-[36px] font-semibold;
  }

  h3 {
    @apply font-notosansthai text-[24px] leading-[32px] font-semibold;
  }

  h4 {
    @apply font-notosansthai text-[20px] leading-[28px] font-semibold;
  }
  p {
    @apply font-notosansthai text-[16px] leading-[28px] font-normal;
  }
  p-detail {
    @apply font-notosansthai text-[14px] leading-[24px] font-normal;
  }
  p-small {
    @apply font-notosansthai text-[14px] leading-[20px] font-normal;
  }
  h1,
  h2,
  h3,
  h4,
  p,
  p-detail,
  p-small {
    display: block;
  }
  body {
    background-image: url("/public/asset/pinkybg.webp");
    background-size: cover;
    background-position: center;
    max-width: 440px;
    height: 100lvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
