---
import Layout from '../layouts/Layout.astro';
import { AddIncomeForm } from '@/components/elements/addIncome';
---
<Layout title="Ju Maa">
	<main>
        <AddIncomeForm client:load/>
	</main>
</Layout>
