---
import { Counter } from '@/components/elements/counting';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1-eng >puretax</h1-eng>
		<h1>สวัสดี</h1>
		<h2>สวัสดี</h4>
		<h3>สวัสดี</h4>
		<h4>สวัสดี</h4>
		<p>สวัสดี</p>
		<p-detail>สวัสดี</p-detail>
		<p-small>สวัสดี</p-small>
		<Counter client:load/>
	</main>
</Layout>
