---
import { Counter } from '@/components/elements/counting';
import Layout from '../layouts/Layout.astro';
import AddIncome from './add-income.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<AddIncome/>
	</main>
</Layout>
