---
import { PersonalDeductions } from '@/components/elements/personalDeduction';
import Layout from '../layouts/Layout.astro';
---

<Layout title="PersonalDeduction">
	<main>
		<PersonalDeductions client:load />
	</main>
</Layout>
