---
import { Image } from 'astro:assets';
import MoneyBag from 'public/assets/moneyBag.svg';
---

<div class="flex px-[25px] items-end h-[87px] w-full">
  <div class="items-center flex gap-4">
    <Image src={MoneyBag} alt="Logo" />
    <p class="font-mono font-semibold text-[24px] text-blood">PureTax</p>
  </div>
</div>
