---
interface Props {
  title: string;
}

import Header from '@/components/elements/Header.astro';
import Nav from '@/components/elements/nav';
import '@/styles/global.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white">
    <div class="flex flex-col h-full max-w-md mx-auto w-full justify-between">
      <div class="flex flex-col gap-[18px]">
      <Header/>
      </div>
      <Nav client:load/>
    </div>
  </body>
</html>
